# ==========================================
# 1. Linux & C/C++ 编译产物与调试文件
# ==========================================
# 各种目标文件、静态库、动态库
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# 调试产生的符号表与缓存
*.dSYM/
.gdb_history
.cgdb/

# 常见的 Linux 临时文件
*.swp
*~
.DS_Store

# 如果你想一劳永逸地忽略没有后缀的 Linux 可执行文件，可以取消下面两行的注释：
# *
# !*.*


# ==========================================
# 2. Windows Visual Studio (VS) 缓存与配置
# ==========================================
# VS 自动生成的点目录（包含智能提示缓存、数据库等，非常大！）
.vs/

# 编译输出目录（Debug/Release 版本的可执行文件和中间件）
[Debug]/
[Release]/
x64/
x86/
ARM/
ARM64/

# 各类编译和工程日志
*.user
*.aps
*.pch
*.vspscc
*.vsscc
*.suo
*.ncb
*.sdf
*.opensdf
*.vc.db
*.unsuccessfulbuild
*.ilk
*.pdb
*.exp


# ==========================================
# 3. 各种编辑器与 IDE 通用缓存
# ==========================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
